*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: var(--ych--bg);
  -webkit-overflow-scrolling: touch;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  padding: 0;
  vertical-align: middle;
  border-radius: 0;
  -webkit-appearance: none;
}
p {
  margin: 0;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--placeholder) !important;
}
button {
  outline: none;
  border: 0;
}
